body, html {
  height: 100%;
  color: black;
  line-height: 1.8;
}


body, h5 {
font-family: 'Raleway', sans-serif;
}

h1 {
  font-family: 'Amatic SC', cursive;
  font-size: 4em;
}

h2 {
  font-family: 'Amatic SC', cursive;
}
 

/* Create a Parallax Effect */
.bgimg-1, .bgimg-2, .bgimg-3 {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* First image (Logo. Full height) */
.bgimg-1 {
    /* The image used */
  background-image: url("slide1.jpg");

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
}

/* Second image (Portfolio) */
.bgimg-2 {
  background-image: url("slide2.jpg");
  min-height: 400px;
}

/* Third image (Contact) */
.bgimg-3 {
  background-image: url("slide3.jpg");
  min-height: 400px;
}

.w3-wide {
  font-family: 'Satisfy', cursive;
  letter-spacing: 3px;
}

.w3-hover-opacity {cursor: pointer;}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1600px) {
  .bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: scroll;
    min-height: 400px;
  }
}


.button {
  background-color: #f44336; /* Red */
  border: none;
  border-radius: 12px;
  color: white;
  width: 50%;
  text-align: center;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  background-color: white; 
  color: black; 
  border: 2px solid #f44336;
}

.button1:hover {
  background-color: #f44336;
  color: white;
}
